<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">
  <button type="button" class="btn btn-primary btn-large btn-block" data-toggle="collapse" data-target="#demo">
    <i class="icon-search icon-white"></i>
    <%= t('blacklight.search.facets.title') %>
  </button>



<div class="collapse in" id="demo">
  <%= render_facet_partials %>
</div>
</div>
<% end %>