
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= facet_field.field.parameterize %>">
        <%=facet_field.label%>
      </a>
    </div>
    <div id="collapse<%= facet_field.field.parameterize %>" class="accordion-body collapse ">
      <div class="accordion-inner">
        <%= yield %>
      </div>
    </div>
  </div>

