<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div class="facets">
  <div class="visible-phone hidden-tablet hidden-desktop">
      <button class="btn btn-primary btn-large btn-block" data-toggle="collapse" data-target="#facetsCollapse">
        <i class="icon-filter icon-white"></i>
        <span><%= t('blacklight.search.facets.title') %> </span>
      </button>
      <div id="facetsCollapse" class="collapse">
        <%= render_facet_partials %>
      </div>
  </div>

  <div class="hidden-phone visible-tablet visible-desktop">
      <h4 class="lead"><%= t('blacklight.search.facets.title') %></h4>
      <div>
        <%= render_facet_partials %>
      </div>
  </div>

</div>
<% end %>