<div class="row">
    <div class="span4 prevNext">
        <%= render :partial => "paginate_compact" %>
    </div>
    <br class="visible-phone">
    <div class="span5">
        <div class="pull-right">
          <%= button_for_create_collection %>
          <%= render :partial => 'sort_widget' %>
          <%= render :partial => 'per_page_widget' %>
        </div>
    </div>
</div>
<hr>